{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Lista de Actividades</h2>
    <a href="{% url 'actividad_create' %}" class="btn btn-primary mb-2">Crear Nueva Actividad</a>
    <div class="table-wrapper" style="max-height: 400px; overflow-y: auto;">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Tipo</th>
                <th>Horas de Trabajo Diarias</th>
                <th>Estado de Registro</th>
                <th>Complejidad</th>
                <th>Incidencias</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in actividades %}
                <tr>
                    <td>{{ actividad.actcod }}</td>
                    <td>{{ actividad.actnom }}</td>
                    <td>{{ actividad.actfecini }}</td>
                    <td>{{ actividad.actfecfin }}</td>
                    <td>{{ actividad.acttip }}</td>
                    <td>{{ actividad.acthortradia }}</td>
                    <td>{{ actividad.estregcod.estregestreg }}</td>
                    <td>
                        {% if actividad.actividadescomplejidad_set.first %}
                            {{ actividad.actividadescomplejidad_set.first.comcod.comnom }}
                        {% else %}
                            No asignado
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            {% for incidencia in actividad.incidencias_set.all %}
                                <li>{{ incidencia.incnom }} - {{ incidencia.incfecini }} - {{ incidencia.incfecfin }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{% url 'actividad_update' actividad.pk %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'actividad_delete' actividad.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                        <a href="{% url 'incidencia_add' actividad.pk %}" class="btn btn-secondary btn-sm">Agregar Incidencia</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}

