{% extends "base.html" %}

{% block content %}
<h2>Lista de Actividades</h2>
<a href="{% url 'actividad_create' %}" class="btn btn-primary mb-3">Nueva Actividad</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Tipo</th>
            <th>Horas de Trabajo Diarias</th>
            <th>Estado de Registro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for actividad in actividades %}
        <tr>
            <td>{{ actividad.actnom }}</td>
            <td>{{ actividad.actfecini }}</td>
            <td>{{ actividad.actfecfin }}</td>
            <td>{{ actividad.acttip }}</td>
            <td>{{ actividad.acthortradia }}</td>
            <td>{{ actividad.estregcod }}</td>
            <td>
                <a href="{% url 'actividad_update' actividad.actcod %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'actividad_delete' actividad.actcod %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Lista de Complejidades</h2>
<a href="{% url 'complejidad_create' %}" class="btn btn-primary mb-3">Nueva Complejidad</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Grado</th>
            <th>Estado de Registro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for complejidad in complejidades %}
        <tr>
            <td>{{ complejidad.comnom }}</td>
            <td>{{ complejidad.comgra }}</td>
            <td>{{ complejidad.estregcod }}</td>
            <td>
                <a href="{% url 'complejidad_update' complejidad.comcod %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'complejidad_delete' complejidad.comcod %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
