{% extends 'base.html' %}

{% block content %}
<div class="container"> 
<h2>{% if form.instance.pk %}Editar{% else %}Crear{% endif %} Cliente</h2>
<form method="post" class="form">
    {% csrf_token %}

    <div class="form-group">
        {{ form.clidni.label_tag }}
        {{ form.clidni }}
        {% if form.clidni.errors %}
            <div class="alert alert-danger">
                {{ form.clidni.errors }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.clinom.label_tag }}
        {{ form.clinom }}
    </div>
    <div class="form-group">
        {{ form.clifecing.label_tag }}
        {{ form.clifecing }}
        {% if form.clifecing.errors %}
            <div class="alert alert-danger">
                {{ form.clifecing.errors }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.clifecces.label_tag }}
        {{ form.clifecces }}
        {% if form.clifecces.errors %}
            <div class="alert alert-danger">
                {{ form.clifecces.errors }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.clifecultprocer.label_tag }}
        {{ form.clifecultprocer }}
    </div>
    <div class="form-group">
        <label for="id_clitipcod">Tipo de Cliente</label>
        {{ form.clitipcod }}
    </div>
    <div class="form-group">
        {% if form.instance.pk %}
            {{ form.cliestcod.label_tag }}
            {{ form.cliestcod }}
        {% else %}
            <label for="id_cliestcod">Estado de Cliente</label>
            <input type="text" id="id_cliestcod" name="cliestcod" value="A" class="form-control" readonly>
        {% endif %}
    </div>
    <div class="form-group">
        {% if form.instance.pk %}
            {{ form.regestcod.label_tag }}
            {{ form.regestcod }}
        {% else %}
            <label for="id_regestcod">Estado de Registro</label>
            <input type="text" id="id_regestcod" name="regestcod" value="A" class="form-control" readonly>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-success">{% if form.instance.pk %}Actualizar{% else %}Crear{% endif %}</button>
    <a href="{% url 'cliente_list' %}" class="btn btn-secondary">Cancelar</a>
</form>
</div>
{% endblock %}
