{% extends 'base.html' %}

{% block content %}
    <h2>Lista de Estados de Registro</h2>
    <a href="{% url 'estado_registro_create' %}" class="btn btn-primary mb-2">Crear Nuevo Estado</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Estado de Registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for estado in estados %}
                <tr {% if estado.estregestreg == 'A' %}class="table-success"
                    {% elif estado.estregestreg == 'I' %}class="table-warning"
                    {% elif estado.estregestreg == 'E' %}class="table-danger"
                    {% endif %}>
                    <td>{{ estado.estregcod }}</td>
                    <td>{{ estado.estregnom }}</td>
                    <td>{{ estado.estregestreg }}</td>
                    <td>
                        <a href="{% url 'estado_registro_update' estado.pk %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'estado_registro_delete' estado.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}