{% extends 'base.html' %}

{% block content %}
<h2>Detalle del Estado de Registro</h2>
<table class="table table-bordered">
    <tr>
        <th>Código</th>
        <td>{{ estado.estregcod }}</td>
    </tr>
    <tr>
        <th>Nombre</th>
        <td>{{ estado.estregnom }}</td>
    </tr>
    <tr>
        <th>Estado de Registro</th>
        <td>{{ estado.estregestreg }}</td>
    </tr>
</table>
<a href="{% url 'estado_registro_list' %}" class="btn btn-secondary">Volver a la lista</a>
<a href="{% url 'estado_registro_update' estado.pk %}" class="btn btn-warning">Editar</a>
<a href="{% url 'estado_registro_delete' estado.pk %}" class="btn btn-danger">Eliminar</a>
{% endblock %}
