{% extends 'base.html' %}

{% block content %}
<h2>GESTIÓN DE PROYECTO</h2>
<p>trabajo de caso de uso Bases de datos</p>

<h3>BASE DE DATOS - SQL CARGA</h3>

<h4>Elaborado por:</h4>
<ul>
    <li>Ccahua Chise Elizabeth Karina</li>
    <li>Marroquin Pinto Paola Cristina</li>
    <li>Turpo Añasco Jhamil Yeyder</li>
</ul>

<h4>Docente de Práctica:</h4>
<p>Ing. Diego Alonso Iquira Becerra</p>

<h4>Caso Estudio 12 - Control de Proyectos de Software</h4>

<p>En la actualidad se tiene el Subsistema de Control de Proyectos de Software del Sistema General de Información que administra el Departamento de Sistemas y Tecnologías de la Información de la Compañia C & A S.A.C. La empresa en la actualidad sólo realiza proyectos de software catalogados como de mediana embergadura. Frente a la realidad la empresa tiene como perpectiva el ampliar sus actividades a otros tipos de proyectos (pequeños y grandes en software) y de otras líneas de proyectos como las de hardware, de telecomunicaciones, de seguridad informática (pequeños, medianos y grandes). En la actualidad se tratan sólo los proyectos de software.</p>
{% endblock %}
