<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cliente_list' %}">Cliente</a>
                <ul class="submenu">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tipo_cliente_list' %}">Tipo de Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'estado_cliente_list' %}">Estado de Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'estado_registro_list' %}">Estado de Registro</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'personal_list' %}">Personal</a>
                <ul class="submenu">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cargos_personal_list' %}">Cargos Perosnal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'estado_registro_list' %}">Estado de Registro</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'proyecto_list' %}">Proyecto</a>
                <ul class="submenu">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'etapas_proyecto_list' %}">Etapas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cargos_proyecto_list' %}">Cargos ofrecidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tipo_proyecto_list' %}">Tipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'estado_proyecto_list' %}">Estado</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>