{% extends 'base.html' %}

{% block content %}
<h2>{% if form.instance.pk %}Editar{% else %}Asignar{% endif %} Cargo a Personal</h2>
<form method="post" class="form">
    {% csrf_token %}
    <div class="form-group">
        {{ form.percoshorcar.label_tag }}
        {{ form.percoshorcar }}
    </div>
    <div class="form-group">
        {{ form.carpercod.label_tag }}
        {{ form.carpercod }}
    </div>
    <div class="form-group">
        {{ form.percod.label_tag }}
        {{ form.percod }}
    </div>
    <button type="submit" class="btn btn-success">{% if form.instance.pk %}Actualizar{% else %}Asignar{% endif %}</button>
    <a href="{% url 'personal_cargos_personal_list' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}