{% extends 'base.html' %}

{% block content %}
<h2>Lista de Personal</h2>
<a href="{% url 'personal_create' %}" class="btn btn-primary mb-2">Crear Nuevo Personal</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Costo por Hora</th>
            <th>Fecha de Ingreso</th>
            <th>Estado de Registro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for persona in personal %}
        <tr>
            <td>{{ persona.percod }}</td>
            <td>{{ persona.pernom }}</td>
            <td>{{ persona.percarcoshor }}</td>
            <td>{{ persona.perfecing }}</td>
            <td>{{ persona.estregcod }}</td>
            <td>
                <a href="{% url 'personal_update' persona.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'personal_delete' persona.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}