{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Lista de Complejidades</h2>
    <div class="table-wrapper" style="max-height: 400px; overflow-y: auto;">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Grado</th>
                <th>Estado de Registro</th>
            </tr>
        </thead>
        <tbody>
            {% for complejidad in complejidades %}
                <tr>
                    <td>{{ complejidad.comcod }}</td>
                    <td>{{ complejidad.comnom }}</td>
                    <td>{{ complejidad.comgra }}</td>
                    <td>{{ complejidad.estregcod.estregestreg }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
