{% extends 'base.html' %}

{% block content %}
<h2>Lista de Etapas de Proyecto</h2>
<a href="{% url 'etapas_proyecto_create' %}" class="btn btn-primary mb-2">Crear Nueva Etapa</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Fecha de Registro</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Estado de Registro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for etapa in etapas %}
        <tr>
            <td>{{ etapa.etaprocod }}</td>
            <td>{{ etapa.etapronom }}</td>
            <td>{{ etapa.etaprofecreg }}</td>
            <td>{{ etapa.etaprofecini }}</td>
            <td>{{ etapa.etaprofecfin }}</td>
            <td>{{ etapa.estregcod }}</td>
            <td>
                <a href="{% url 'etapas_proyecto_update' etapa.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'etapas_proyecto_delete' etapa.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div style="display: flex; justify-content: space-around; margin-top: 20px;">
    <div class="custom-card" style="padding: 12px;">
        <a href="{% url 'actividad_list' %}" class="custom-link">
            <h5>Actividades</h5>
        </a>
    </div>
    <div class="custom-card" style="padding: 12px;">
        <a href="{% url 'estado_registro_list' %}" class="custom-link">
            <h5>Estado Registro</h5>
        </a>
    </div>
</div>
{% endblock %}
